<!DOCTYPE html>
<html>

  <link href="/assets/profiles.css" media="screen" rel="stylesheet" type="text/css" />
 
<div id="profile_form">

<h2 id="heading">Profile Updation</h2>
<div id="form_fields">
	<table cellpadding="10px">
 <%=  form_for :profile, :url => {:controller => 'profiles', :action => 'create'} do |f| %>
   <tr><td>First Name    </td><td><%= f.text_field :first_name, :autofocus => true %></td></tr>

   <tr><td>Last Name     </td><td><%= f.text_field :last_name , :autofocus => true%></td></tr>

   <tr><td>Date of Birth </td><td><%= f.text_field :date_of_birth, 'data-behaviour' => 'datepicker' %></td></tr>

   <tr><td>Place         </td><td><%= f.text_field :place, :autofocus => true %></td></tr>


   <tr><td></td><td id="submit"><%= f.submit "Update", 'class'=>"btn btn-primary",'data-loading-text'=>"Updating..."%></td></tr>
</table>
</div>
  <% end %>

</div>
</html>