
<link href="/assets/login.css" media="screen" rel="stylesheet" type="text/css" />
<div id="container">
    <div id="header">
        Header
    </div>
    <div id="welcome">
        <div class="span6"> <h2>About Us</h2>
            <p align = "justify"> Qlink's mission is to make the world more open and connected.
                Mission.Qlink's mission is to give people the power to share and make the world more open and connected.
            </p> 
        </div>
    </div>
    <div id="login_form">
        <div id="login_form_fields">
            <table border= "0" cellspacing="30">
                <tr>
                    <td><h3>Sign in</h3></td>
                </tr>
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <tr>
                        <td>
                            Email : 
                        </td>
                        <td>
                            <%= f.email_field :email, {:class => 'option-large'}%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password : 
                        </td>
                        <td>
                            <%= f.password_field :password,{:class => 'option-large'}%>
                        </td>
                    </tr>
                    <% if devise_mapping.rememberable? -%>
                        <tr>
                            <td>
                                <%= f.check_box :remember_me %>
                                remember_me
                            </td>
                        </tr>
                    <% end -%>
                    <tr>
                        <td>
                            <%= f.submit "Sign in" %>
                        </td>
                        <td>
                            <%= render "devise/shared/links" %>
                        </td>
                    </tr>
                <% end %>      
            </table>
            <p> 
                or 
                Sign in using google account
                <%= link_to image_tag("google-sign-in.png"), user_omniauth_authorize_path(:google) %>
            </p>
        </div>
    </div>
    <div id="footer">
        footer
    </div>
    
</div>