<html>  
<%= current_user.email%>
  	<div id='outer'>  
     	<%= form_for :user, url: { action: 'save_password', controller: "users", method: :post} do |f| %>
      	<p>
        <%=f.label :password %>
        <%=f.text_field :password %>
      	</p>
	 	
	<p>
      <%= f.submit(type: 'submit', class: "btn btn-info", :value => "CREATE PASSWORD")  %>
	</p>
  <% end %>
 </div>  
</html>